<!-- <div class="card-body" id="tag_card">
  <%= render partial: 'layouts/form_errors', locals: { model: destination.tags.build} %>
  <%= form_for([destination, destination.tags.build]) do |f| %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>
</div> -->
