/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* .container {
   margin-top: 100px;
 } */

 #mapid {
   height: 400px;
   width: 600px;
 }

 .square {
   height: 50px;
   width: 50px;
   margin: 20px;
 }

 .navbar-brand {
   transition: transform 0.5s ease;
 }

 .square2 {
   background-color: #FE3B70;
   transition: transform 0.5s ease-in;
 }

 .square3 {
   background-color: #50496B;
   transition: transform 0.5s ease-out;
 }

 .square4 {
   background-color: #61708C;
   transition: transform 0.5s ease-in-out;
 }

 .square5 {
   background-color: #246E87;
   transition: transform 0.5s linear;
 }

 .container:hover .square {
   transform: translateX(300px);
 }
