<td><span class="badge badge-info"><%= link_to 'Show', model %></span></td>
<td><span class="badge badge-warning"><%= link_to 'Edit', send(edit_path(model), model) %></span></td>
<td><span class="badge badge-danger"><%= link_to 'Destroy', model, method: :delete, data: { confirm: 'Are you sure?' } %></span></td>
